.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.container .form-box {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container input {
    margin: .5em;
    max-width: 60%;
    border-width: 0 0 .5px 0;
    outline: none;
    font-size: 22px;
    text-align: center;
}

.container span.selector {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    border: 1px dashed #999;
    font-weight: bold;
}

.container span.tip {
    color: #999999;
    font-size: 14px;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

.container button {
    border-radius: 4px;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 16px 4px;
    padding: 0 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    line-height: 27px;
    width: 180px;
    height: 40px;
    text-align: center;
    outline: none;
    user-select: none;
    background-color: #f8f9fa;
    transition: color 0.3s;
}

.container button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #dadce0;
    color: #202124;
}

.container button:active {
    color: rgba(0, 0, 0, 0.3)
}

.container button:disabled {
    color: rgba(0, 0, 0, 0.3)
}

.container button {
    width: 180px;
}
